html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 초기화 코드 */




button {
    cursor: pointer;
}
.blind, .desktop {
    display: none;
}
.wrap {
    margin: 0 25px;
}
#wrap1 {
    margin: 0 25px;
}
#skipNav {
    display: none;
}
#topBanner {
    background-color: #5A95FE !important;
    font-size: 15px;
    color: #FFFFFF;
    padding: 25px 0;
}
#tb_close {
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    position: relative;
}
#topBanner #tb_close::after{
    content: "";
    position: absolute;
    background-size: contain;
    top: -13px;
    right: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#mainNav {
    display: none;
}
body {
    background-color: gray;
    color: white;
}
h1 {
    float: left;
    position: relative;
    z-index: 1;
}
h1 a {
    /* border: 2px solid blue; */
    background-image: url("../img/logo_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 35px;
}
#menuView {
    background-color: transparent;
    border: none;
    float: right;
}
#menuView::before {
    content: "≡";
    color: #FFFFFF;
    font-size: 30px;
    
}
#section1 {
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
    background-color: #181818;
    background-image: url("../img/BgMainCont.svg");
    background-size: cover;
    background-position: center;
    height: 640px;
    position: relative;
}

#section1 h2 {
    border: 2px solid yellow;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0;
    width: 100%;
}
#section1 #p1 {
    border: 2px solid blue;
    text-align: left;
    position: absolute;
    top: 15%;
    margin-top: 15px;
    left:25px;
}

#section1 #p2 {
    border: 2px solid red;
    text-align: left;
    position: absolute;
    bottom: 15%;
    margin-top: 15px;
    right: 25px;
}
#button1 {
    position: absolute;
    text-align: center;
    top: 60%;
    width: 90%;
}
@media screen and (min-width: 768px){
    #wrap1 {
        margin: 0 25px;
    }
    

}
@media screen and (min-width: 1024px){
    .mobile {
        display: none;
    }
    .desktop {
        display: inline;
    }
    .wrap {
        margin: 0 40px;
    }
    #wrap1 {
        margin: 0 25px;
    }
    #skipNav{
        display: block;
        height: 0px;
    }
    #skipNav a {
        position: absolute;
        top: -100px;
        left: 0;
    }
    #skipNav a:focus {
        top: 0px;
        background-color: white;
        padding: 5px;
        text-align: center;
        display: block;
        width: 100%;
    }
    #topBanner {
        font-size: 20px;
    }
    #topBanner strong{
        margin-left: 30px;
    }
    #tb_close {
        margin-top: 2px;
    }
     #tb_close span {
        margin-right: 35px;
    }
    #topBanner #tb_close::after{
        top: -1px;
    }
    #mainNav {
        display: block;
    }
}
@media screen and (min-width: 1440px){
    #wrap1 {
        margin: 0 25px;
    }
    .wrap {
        width: 1200px;
        margin: 0 auto;
    }
}